@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter/Inter-VariableFont_slnt,wght.ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Clases personalizadas usando Tailwind */
@layer base {
  body {
      @apply font-['Inter'] bg-primary text-[1.15rem];
  }

  #root {
    @apply min-h-screen;
  }
}


@layer components {
  .interactive {
    @apply  transition-all ring-1 dark:ring-gray-700 dark:hover:bg-gray-700;
  }

  .interactive-no-hover {
    @apply transition-all ring-1 ring-gray-700;
  }

  .min-h-inherit {
    min-height: inherit;
  }
}

