@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter/Inter-VariableFont_slnt,wght.ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Clases personalizadas usando Tailwind */
@layer base {
  body {
      @apply font-['Inter'] bg-white dark:bg-primary text-[1.15rem];
  }

  #root {
    @apply min-h-screen;
  }
}


@layer components {

  .min-h-inherit {
    min-height: inherit;
  }
}

